.event-picture {
    width: 375px;
    height: 175px;
    background-image: url("/imgs/home/about/FamilyPhoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

@media (min-width: 768px) {
    .event-picture {
        width: 475px;
    }
}